<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width" />
<title>Prefeituras</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="panel panel-default" style="margin: 10px">
<div class="panel-heading">
<h1 class="panel-title">Prefeituras</h1>
</div>
<div class="panel-body">
<table class="table">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Site</th>
			<th>Cnpj</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="prefeitura : ${prefeituras}">
			<td th:text="${prefeitura.nm_prefeitura}"></td>
			<td th:text="${prefeitura.site}"></td>
			<td th:text="${prefeitura.cnpj}"></td>
			<td class="text-center">
				<a th:href="@{/GastosMensais}" class="btn btn-info">Gastos Mensais</a>
				<a th:href="@{/TetoGastosMensais}" class="btn btn-danger">Teto de Gastos</a> 
			</td>
		
		</tr>
	</tbody>
</table>
</div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>