<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width" />
<title>Teto de Gastos Mensais</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="panel panel-default" style="margin: 10px">
<div class="panel-heading">
<h1 class="panel-title">Teto de Gastos Mensais</h1>
</div>
<div class="panel-body">
<form class="form-inline" method="POST" th:object="${tetoGastoMensal}" th:action="@{/TetoGastosMensais}" style="margin: 20px 0">
<div class="row">
	<div class="form-group">
	<input type="hidden" th:field="*{id_teto_gasto_mensal}">
	<input type="text" class="form-control" placeholder="Valor do Teto" required th:field="*{vl_teto}"/>
	<input type="text" class="form-control" placeholder="Valor Crítico" required th:field="*{vl_critico}"/>
	<input type="date" class="form-control" placeholder="Data Inicial" defaultValue="2013-01-08" required th:field="*{dt_inicial}"/>
	<input type="date" class="form-control" placeholder="Data Final" defaultValue="2013-01-08" required th:field="*{dt_final}"/>
	<button type="submit" class="btn btn-primary">Salvar</button>
	<button type="reset" class="btn btn-secondary">Limpar</button>
</div>
</div>
</form>
<table class="table">
	<thead>
		<tr>
			<th>Valor do teto</th>
			<th>Valor crítico</th>
			<th>Data Inicial</th>
			<th>Data Final</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="tetogastomensal : ${tetogastomensalrepository}">
			<td th:text="${tetogastomensal.vl_teto}"></td>
			<td th:text="${tetogastomensal.vl_critico}"></td>
			<td th:text="${tetogastomensal.dt_inicial}"></td>
			<td th:text="${tetogastomensal.dt_final}"></td>
			<td class="text-center">
				<a th:href="@{/TetoGastosMensais/Editar/{id}(id = ${tetogastomensal.id_teto_gasto_mensal})}" class="btn btn-info">Edtiar</a>
				<a th:href="@{/TetoGastosMensais/Deletar/{id}(id = ${tetogastomensal.id_teto_gasto_mensal})}" class="btn btn-danger">Deletar</a> 
			</td>
		</tr>
	</tbody>
</table>
</div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>